
@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&display=swap'); 
@import "tailwindcss";

.kameron {
  font-family: "Kameron", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

}